# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

poetry.lock

__pypackages__/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# poetry
poetry.lock

# config
./kstbot/config.py
